<!DOCTYPE html>
<head>
  <html ng-app= "myApp" lang="en" >
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My MVP Project</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>

  <script src="https://maps.googleapis.com/maps/api/js">
  </script>  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
  <header class="container-header">
  <h1>MVP</h1>
    </header>
<div id="map-container"ng-controller = "MapsController">
  <div ng-init= "initMap()">
  <div id="map"></div>
</div>
</div>
<div class= "photo-container" ng-controller = "IgController">
<button class="action-button shadow animate blue center" ng-click="getPhotos()">Click for Local Photos!</button>
<p></p>
<div class='photos'>
<div ng-repeat="photo in photoStorage"></div>
  <img class= "center" ng-repeat="photo in photoStorage" ng-src='{{ photo }}'/>
</div>
</div>
</body>
</html>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="tokenKeys.js"></script>

</body>
</html>
